<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: base_header(~{::link},'Home')">
<link href="/stylesheets/jquery.bootgrid.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="/stylesheets/Buttons.css" />
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div align="center">
	<br>
	<br>
	<br>
	<br>
		<button onclick="location.href='/logview'" class="button5" type="submit">チャットボットログ</button>
		<br>
		<br>
		<br>
		<button onclick="location.href='/logview'" class="button5" type="submit">フォトログ</button>
		<br>
		<br>
		<br>
		<button onclick="location.href='/logview'" class="button5" type="submit">ランキング</button>
		<br>
		<br>
		<br>
		<button onclick="location.href='/Account'" class="button5 chrome Safari" type="submit">アカウント管理</button>
	</div>
	<script>


/*
  if (num.equals("ADMIN"))
  {
    document.getElementById("vis").style.visibility="visible";
  }
  else
  {
    document.getElementById("vis").style.visibility="hidden";
  }

}
*/
</script>

</body>
</html>
