userlist.html

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>ユーザー一覧</title>
</head>
<body>
<table>
	<tr th:each="user :${users}">
		<td th:text="${user.no}"></td>
		<td th:text="${user.userid}"></td>
		<td th:text="${user.username}"></td>
		<td th:text="${user.orgname}"></td>
		<td th:text="${user.password}"></td>
		<td th:text="${user.effect}"></td>
		<td th:text="${user.auth}"></td>
		<td>
			<form th:action="@{/userlist}" method="post">
				<input type="submit" value="削除"/>
				<input type="hidden" name="no" th:value="${user.no}"/>
			</form>
		</td>
	</tr>
	
</table>
</body>
</html>
